{
	"parser": "babel-eslint",
	"extends": ["plugin:react/recommended"],
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"indent": 0,
		"no-unused-vars": 0
	}
}