$palette-primary-main: #15cda8;
$palette-primary-dark: #099a97;
$palette-primary-comp: #CC4514;

$palette-secondary-main: #fcb1b1;
$palette-secondary-dark: #A65050;
$palette-secondary-light: #FFCCCC;
$palette-secondary-comp: #58B071;

$palette-background-main: #fff;
$palette-text-primary: #364f6b;
$palette-alert: #ff008e;