@import "./styles/variables.scss";
@import "./styles/mixins.scss";

@font-face {
	font-family: 'source_sans_proregular';
	src: url('./styles/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
			 url('./styles/fonts/sourcesanspro-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto_slabbold';
	src: url('./styles/fonts/RobotoSlab-Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "source_sans_proregular", "Helvetica", "sans-serif";
	color: $palette-text-primary;
}

h1, h2, h3 {
	font-family: "roboto_slabbold", "Palatino Linotype", "serif";
}

select {
	border: 1px solid $palette-primary-main;
	border-radius: 3px;
	padding: .4rem;
	font-weight: 600;
}
